<!-- <hr class="soften"> -->
<p style="color:#D5D5D5; text-align:center; margin-right: 10%; margin-top: 10px;">
	<a href="{{ path('AceBlogBundle_blog') }}">Blog</a> |
	<a href="{{ path('AceStaticBundle_about') }}">About</a> |
	<a href="{{ path('AceStaticBundle_tech') }}">Tech</a> |
	<a href="{{ path('AceStaticBundle_team') }}">The Team</a> |
	<a href="{{ path('AceStaticBundle_tutorials') }}">Tutorials</a> |
	<a href="https://github.com/abhshkrv/Wiselib-Online" target="_blank">Open Source</a> |
	{#<a href="https://github.com/codebendercc/codebender.cc/issues" target="_blank">Report Bugs!</a> |#}
    {#<a href={{ path('AceStaticBundle_contact') }}>Contact Us</a>#}
	<a href="http://codebender.uservoice.com/knowledgebase" target="_blank">FAQ</a>
</p>
