{% extends '::container.html.twig' %}

{% block stylesheets %}
	<style type="text/css">
		#uploadDiv
		{
			display: none;
		}
	</style>
{% endblock %}

{% block javascripts %}

	<script type="text/javascript">
		function toggleUpload()
		{
			$("#uploadDiv").toggle(1000);
		}
	</script>
	{% raw %}
	<!-- The template to display files available for upload -->
	<script id="template-upload" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
		<tr class="template-upload fade">
			<td class="preview"><span class="fade"></span></td>
			<td class="name"><span>{%=file.name%}</span></td>
			<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
			{% if (file.error) { %}
			<td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
			{% } else if (o.files.valid && !i) { %}
			<td>
				<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
					<div class="bar" style="width:0%;"></div>
				</div>
			</td>
			<td class="start">{% if (!o.options.autoUpload) { %}
				<button class="btn btn-primary">
					<i class="icon-upload icon-white"></i>
					<span>Start</span>
				</button>
				{% } %}
			</td>
			{% } else { %}
			<td colspan="2"></td>
			{% } %}
			<td class="cancel">{% if (!i) { %}
				<button class="btn btn-warning">
					<i class="icon-ban-circle icon-white"></i>
					<span>Cancel</span>
				</button>
				{% } %}
			</td>
		</tr>
		{% } %}
	</script>
	<!-- The template to display files available for download -->
	<script id="template-download" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
		<tr class="template-download fade">
			{% if (file.error) { %}
			<td></td>
			<td class="name"><span>{%=file.name%}</span></td>
			<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
			<td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
			<td class="cancel">
				<button class="btn btn-warning"><i class="icon-ban-circle icon-white"></i><span>Cancel</span>
				</button>
			</td>
			{% } else { %}
			<td class="preview">{% if (file.thumbnail_url) { %}
				<a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
				{% } %}
			</td>
			<td class="name">
				<a href="{%=file.url%}" title="{%=file.name%}">{%=file.name%}</a>
			</td>
			<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
			<td colspan="2"></td>
			{% } %}
		</tr>
		{% } %}
	</script>
	{% endraw %}

{% endblock %}

{% block mainspan %}
    <div class="row-fluid">
	    <div class="span12">
		    <h2>
			    Hello {{ user["username"] }}!
			    <a href="{{ path("AceStaticBundle_info_points") }}">
				    {% include "AceUtilitiesBundle:Default:codebender_points.html.twig" with {"points": user["points"]} %}
			    </a>
			    <a href="{{ path("AceStaticBundle_info_karma") }}">
				    {% include "AceUtilitiesBundle:Default:codebender_karma.html.twig" with {"karma": user["karma"]} %}
			    </a>
		    </h2>

	    </div>
    </div>

	{% if user["walkthrough_status"] < 5  %}
		{% include 'AceGenericBundle:Index:getstarted.html.twig' %}
	{% endif %}

	<div class="row-fluid">
		<div class="span6">
			<h3>New Project</h3>
			<form class="form-search" method='post' action='{{ path('AceUtilitiesBundle_newproject') }}' style="max-width:80%;">
				<div class="input-prepend input-append" style="max-width:80%;">
					<span class="add-on">Name:</span>
					<input type="text" name='project_name' style="max-width:80%;">
					<button type="submit" class="btn">Create</button>
				</div>
			</form>
			<p>Or upload your existing projects:
				<a data-toggle="modal" href="javascript:toggleUpload();" style="display: inline-block;" id="uploadLink">
					<i class="icon-upload"></i> Upload Sketch
				</a>
			</p>

		</div>
		<div class="span6">
			{% include "AceGenericBundle:Index:donate.html.twig" %}
		</div>
	</div>
	<div class="row-fluid" id="uploadDiv">
		<div class="span12">
			<h3 style="font-size: 18px; line-height: 27px;">Add or drag your sketch here.</h3>

			<!-- The file upload form used as target for the file upload widget -->
			<form id="fileupload" action="{{ path('AceUtilitiesBundle_upload') }}" method="POST" enctype="multipart/form-data">
				<!-- Redirect browsers with JavaScript disabled to the origin page -->
				<noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/">
				</noscript>
				<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
				<div class="row fileupload-buttonbar" style="margin-left:0px;">
					<div class="span5">
						<!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
					</div>
					<!-- The global progress information -->
					<div class="span7 fileupload-progress fade">
						<!-- The global progress bar -->
						<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
							<div class="bar" style="width:0%;"></div>
						</div>
						<!-- The extended global progress information -->
						<div class="progress-extended">&nbsp;</div>
					</div>
				</div>
				<!-- The loading indicator is shown during file processing -->
				<div class="fileupload-loading"></div>
				<br>
				<!-- The table listing the files available for upload/download -->
				<table role="presentation" class="table table-striped">
					<tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
				</table>
			</form>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<h3>Unlock extras & gifts</h3>
			<p>
				Greate news everyone! We just introduced codebender points. It's our own special way of saying thank you
				for the support, and rewarding all our friends who spread the word about codebender, help other people,
				and generally, those who are <strong>excellent to each other</strong>. Interested?
				<a href="{{ path("AceStaticBundle_info_points") }}">Learn more</a>.
			</p>
		</div>
	</div>

	{% if popular_users %}
		<div class="row-fluid">
		<div class="span12">
			<h4>Popular Users</h4>
			<hr style="margin-top:0px">
			<ul class="unstyled">
			{% for user in popular_users %}
				<li>
					<a href="{{ path('AceGenericBundle_user',{'user': user['username']}) }}">
						{{ user["username"] }}
						{% include "AceUtilitiesBundle:Default:codebender_karma.html.twig" with {"karma": user["karma"]} %}
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
		{#<div class="span6">#}
			{#<h4>Popular Projects</h4>#}
			{#<hr style="margin-top:0px">#}
			{#<ul>#}
				{#<li>#}
					{#Lorem Impsum#}
					{#{% include "AceUtilitiesBundle:Default:codebender_copies.html.twig" with {"copies": 50} %}#}
				{#</li>#}
				{#<li>Lorem Impsum</li>#}
				{#<li>Lorem Impsum</li>#}
				{#<li>Lorem Impsum</li>#}
				{#<li>Lorem Impsum</li>#}
			{#</ul>#}
		{#</div>#}
	</div>

{% endblock %}

{% block javascripts_upload_head %}
	<!-- Force latest IE rendering engine or ChromeFrame if installed -->
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<!-- Bootstrap CSS Toolkit styles -->
	<!-- <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css"> -->
	<!-- Generic page styles -->
	<link rel="stylesheet" href='{{ asset("upload/css/style.css") }}'>
	<!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
	<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-responsive.min.css">
	<!-- Bootstrap CSS fixes for IE6 -->
	<!--[if lt IE 7]>
	<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
	<!-- Bootstrap Image Gallery styles -->
	<link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" href='{{ asset("upload/css/jquery.fileupload-ui.css") }}'>
	<!-- CSS adjustments for browsers with JavaScript disabled -->
	<noscript>
		<link rel="stylesheet" href='{{ asset("upload/css/jquery.fileupload-ui-noscript.css") }}'>
	</noscript>
	<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}

{% block javascripts_upload_bottom %}

	<script type="text/javascript">

		(function ()
		{
			$('#upModal').modal({
				backdrop: true,
				keyboard: true,
				show: false
			}).css({
						'width': function ()
						{
							//return ($(document).width() * .35) + 'px';
							return '700px';   //668px
						},
						'margin-left': function ()
						{
							return -($(this).width() / 2);
						}
					});

			$('#upBody').css({'width': '680px'});
		})();   //570px
	</script>

	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
	<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
	<script src='{{ asset("upload/js/vendor/jquery.ui.widget.js") }}'></script>
	<!-- The Templates plugin is included to render the upload/download listings -->
	<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	<script src='{{ asset("upload/js/jquery.iframe-transport.js") }}'></script>
	<!-- The basic File Upload plugin -->
	<script src='{{ asset("upload/js/jquery.fileupload.js") }}'></script>
	<!-- The File Upload file processing plugin -->
	<script src='{{ asset("upload/js/jquery.fileupload-fp.js") }}'></script>
	<!-- The File Upload user interface plugin -->
	<script src='{{ asset("upload/js/jquery.fileupload-ui.js") }}'></script>
	<!-- The main application script -->
	<script src='{{ asset("upload/js/main.js") }}'></script>
	<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
	<!--[if gte IE 8]>
	<script src='{{ asset("upload/js/cors/jquery.xdr-transport.js") }}'></script><![endif]-->
{% endblock %}
