<div style="text-align: center;"><h3>Supporters</h3></div>
<div style="text-align: center;"><h4><small>A big thank you to all our supporters for helping codebender become a reality. Special thanks go to:</small></h4></div>


<div class="row-fluid">
	<div class="span12">
		<ul class="bxslider">
			<li>
				<div class="row-fluid">
					<div class="span2">
						<h4 style="text-align: center">Agile Hardware</h4>
						<a target="_blank" href="http://www.agile-hardware.de/">
							<img style="display: block; margin: auto; height: 100px" src={{ asset("images/agile_hardware_150_color.png") }}>
						</a>
					</div>
					<div class="span3">
						<h4 style="text-align: center">Arrowhead Systems</h4>
						<a target="_blank" href="http://theinternet.org.uk/">
							<img style="display: block; margin: auto; height: 100px" src={{ asset("images/TIOUK_logo125.png") }}>
						</a>
					</div>
					<div class="span4">
						<h4 style="text-align: center">Fab Lab Barcelona</h4>
						<a target="_blank" href="http://fablabbcn.org/">
							<img style="display: block; margin: auto; height: 100px" src={{ asset("images/fablabbcn_web.png") }}>
						</a>
					</div>
					<div class="span2">
						<h4 style="text-align: center">Wyolum</h4>
						<a target="_blank" href="http://wyolum.com/">
							<img style="display: block; margin: auto; height: 100px" src={{ asset("images/wyolum.png") }}>
						</a>
					</div>
				</div>
			</li>
			<li>
				<h3>Agile Hardware</h3>
					<div class="row-fluid">
						<div class="span3">
							<a target="_blank" href="http://www.agile-hardware.de/"><img src={{ asset("images/agile_hardware_150_color.png") }}></a>
						</div>
						<div class="span8">
							<p>
								<a target="_blank" href="http://www.agile-hardware.de/" title="Agile Hardware - For agile developers and teams.">Agile
									Hardware</a> is a webshop supporting agile developers and teams.</p>

							<p>In our electronic products we integrate Arduino boards and now we
								are an official Distributor. As a special favor to codebender we are going to offer
								the
								Arduino Ethernet preloaded with Ariadne (codebender's TFTP bootloader).</p>

							<p>We also suggested some agile features for codebender itself and
								will participate in their implementation.
							</p>

						</div>
					</div>
			</li>
			<li>
				<h3>Arrowhead Systems</h3>
					<div class="row-fluid">
						<div class="span3">
							<a target="_blank" href="http://theinternet.org.uk/"><img src={{ asset("images/TIOUK_logo125.png") }}></a>
						</div>
						<div class="span8">
							<p style="text-align:justify;"><a target="_blank" href="http://theinternet.org.uk/">TheInternet.Org.UK</a>
								is
								the web host that makes your life easy. With top class support, our most frequent
								response
								to customer problems is 'don't worry, we'll do it for you'.</p>

							<p style="text-align:justify;">We aim to get UK school students excited about science and IT
								again by working with local schools on cool space experiments for ArduSat and High
								Altitude
								Balloons. Follow their progress and see how they get on. <a target="_blank" href="http://tiouk.com/">http://tiouk.com</a>
							</p>

							<p style="text-align:justify;">Proud to sponsor codebender and help make open source
								hardware
								easier to use.</p>
						</div>
					</div>
			</li>
			<li>
				<h3>Fab Lab Barcelona</h3>
				<div class="row-fluid">
					<div class="span3">
						<a target="_blank" href="http://fablabbcn.org/"><img src={{ asset("images/fablabbcn_web.png") }}></a>
					</div>
					<div class="span8">
						<p>Fab Lab Barcelona is one of the leading laboratories worldwide
							network of Fab Labs, production workshops and innovation on a small scale equipped with
							digital fabrication machines and technologies for the production of objects, tools and
							electronics. Fab Labs explore the relationship between the digital and physical world.</p>

						<p>Fab Lab Barcelona has produced projects like Hyperhabitat IAAC
							and the Fab Lab House. It is currently developing projects in different scales, from smart
							devices for data collection by individuals (Smart City) to the new production models for
							cities (FabCity).</p>
					</div>
				</div>
			</li>
			<li>
				<h3>Wyolum</h3>
				<div class="row-fluid">
					<div class="span3">
						<a target="_blank" href="http://wyolum.com/"><img src={{ asset("images/wyolum.png") }}></a>
					</div>
					<div class="span8">
						<p>WyoLum is a partnership of Open Source enthusiasts collaborating
							on cool products.</p>

						<p>We want to take DoItYourself to the next level of efficiency by
							creating a collaboration platform where guerrilla engineering-and-design teams can emerge
							for the duration of a project, solve a problem, disband and move on to the next project with
							the main goal of having fun in learning and developing as many cool and interesting projects
							as we can.</p>

					</div>
				</div>
			</li>
		</ul>

	</div>
</div>